.header {
    height: 56px;
    width: 100%;
}

.header_content {
    margin-left: 6px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    height: 100%;
    width: calc(100% - 12px);
}

.nav_tab {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: auto;
    padding-bottom: auto;
}

.active {
    color: var(--primary);
}